.App {
  text-align: center;
  overflow-x: hidden;
  /* Fixes horizontal scroll */
}

/* Hides the Skip to Main Content text off-screen until you press Tab */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}